body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    margin: 0 0 20px;
    font-family: 'Arial', sans-serif;
    font-size: 36px;
    font-weight: bold;
    color: #007BFF; /* Change the color to your preference */
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    /* Add more styles as needed */
}


input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #87CEEB;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#weatherData {
    margin: 20px 0;
    text-align: left;
}
